* {
  margin: 10px;
  box-sizing: border-box;
}

#outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
  height: 95vh;
}

#prompt-input {
  border: 1px solid #d1d1d1;
  border-radius: 3px;
}

#prompt-input:focus {
  border: none;
  outline: none;
}

#answer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

#answer p {
  color: #555;
}